

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body{
    font-family: Tahoma, sans-serif;
    height: 100%;
    color: #002400;
}
.pimg1, .pimg2, .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image: url(../img/pic-1.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(../img/pic-3.jpg);
    min-height: 500px;
}
.pimg3{
    background-image: url(../img/pic-2.jpg);
    min-height: 500px;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: .3rem;
}
.ptext .text-sign{
    background-color: #60992d;
    padding: 5px 30px;
}
.section{
    background-color: #e2f0d7;
    text-align: center;
    padding: 50px 100px;
}
.section h2{
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-decoration: underline;
}
.section p{
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}